* {
  box-sizing: border-box;
}

html {
  --colorh2: hsla(268, 75%, 44%, 1);
  --font_monserat: "Montserrat", sans-serif;
  --border_color: hsla(268, 75%, 44%, 1);
}

body {
  max-width: 600px;
  width: 100%;
  margin: auto;
}

header {
  background-color: hsl(268, 58%, 55%);
  width: 100%;
  height: 6rem;
  position: relative;
  margin-bottom: 3rem;
  padding: 0;
}

.menu {
  color: rgb(255, 255, 255);
  position: absolute;
  transform: translate(-300px, 7px);
}

h1 {
  color: white;
  font-size: 1rem;
  font-family: var(--font_monserat);
  padding-left: 6.5rem;
  padding-top: 2.5rem;
  font-weight: 600;
}

h2 {
  color: var(--colorh2);
  font-size: 1.125rem;
  font-family: var(--font_monserat);
  margin-left: 2rem;
  margin-bottom: 0rem;
}
.your {
  margin-left: 2rem;
  font-family: var(--font_monserat);
  font-weight: 600;
}

.search {
  border: 2px solid var(--border_color);
  width: 89%;
  height: 2rem;
  padding-left: 1rem;
  margin-left: 2rem;
  font-family: "Source Sans Pro", sans-serif;
  text-align: start;
  color: var(--border_color);
  font-weight: 600;
  margin-bottom: 1rem;
}

.jou {
  display: flex;
}

.bi-bi-search {
  position: relative;
  transform: translate(-20px, 8px);
}

#class {
  margin-top: 0rem;
  border: 2px solid var(--border_color);
  width: 60%;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  color: hsla(268, 75%, 44%, 1);
  font-weight: 600;
}

#time {
  border: 2px solid var(--border_color);
  width: 40%;
  padding-block: 0.5rem;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  color: hsla(268, 75%, 44%, 1);
  font-size: 0.875rem;
  font-weight: 600;
}

.boxes {
  display: flex;
  margin: 2rem;
  gap: 1rem;
}

.full_time {
  font-family: var(--font_monserat);
  font-weight: 600;
  margin-left: 2rem;
  margin-top: 3rem;
}

.container {
  display: grid;
  align-content: center;
  grid-template-rows: 5.5rem;
  gap: 2rem;
}

a {
  font-size: 0.7rem;
  text-decoration: none;
}

.person {
  display: flex;
  width: 89%;
  border: 3px solid hsla(268, 75%, 44%, 1);
  padding: 1rem;
  box-shadow: 5px 5px 0px hsla(268, 75%, 44%, 1);
  margin-left: 2rem;
}

.od {
  padding-left: 2rem;
  font-size: 1.5rem;
  color: hsla(268, 75%, 44%, 1);
}

.numero {
  width: 50px;
  height: 50px;
}

img {
  width: 100%;
}
